<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484518036533-1j7ivs42l7piomqgg8jj7ek4qo35ng32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484518036533-1j7ivs42l7piomqgg8jj7ek4qo35ng32</string>
	<key>API_KEY</key>
	<string>AIzaSyB4A8vd3rrV_jJi40sfhmZiRBZsJwmI-Y0</string>
	<key>GCM_SENDER_ID</key>
	<string>484518036533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MohammadAbdelfattah.E-Commerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-c8703</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-c8703.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484518036533:ios:672337f80b021dc69ddd7c</string>
</dict>
</plist>